@font-face {
    font-family: "evogria";
    src: url(font/Evogria.otf);
}

* {
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;

    width: 100vw;
    overflow-x: hidden;

    background: linear-gradient(to right, #0b3957c7, #0b3957a8),
        url('images/background.jpg') no-repeat center/cover;

    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

section {
    height: 100vh;
}

.main {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}

.background-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    background: linear-gradient(to bottom, #00000000, #000000);
}

.main-content {
    height: 100%;
    width: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.main-txt {
    width: 600px;
    margin-left: 5vw;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    align-content: start;
    gap: 20px;

    z-index: 100;
}

.main-txt h2 {
    font-weight: 400;
}

.main-txt h1 {
    font-family: "evogria";
    font-size: 40px;
    /* font-weight: bolder; */
    /* text-transform: uppercase; */
    font-weight: 100;

    color: rgb(255, 159, 49);
}

.color2 {
    color: white;
    font-size: 38px;
    text-transform: lowercase;
}

.color3 {
    color: rgb(235, 182, 113);

}

.main-txt p {
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-content: center;

    gap: 20px;

}

form input {
    width: 95%;
    font-size: 20px;
    padding: 5px;


    background-color: rgba(255, 255, 255, 0.616);
}

input::placeholder {
    color: black;
    /* Altere para a cor desejada */
    opacity: 1;
    /* Garante que a cor seja aplicada corretamente */
}

label {
    display: flex;
    align-items: center;
    gap: 5px;
}

label>input {
    width: auto;
}

label>span {
    font-size: 13px;
}

.main-img {
    min-width: 600px;
    /* Largura fixa */
    height: 100vh;

    z-index: 90;

    display: flex;
    align-items: end;
    justify-content: end;

    background-image: url(images/main.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    overflow-x: hidden;
}


button {
    background-color: rgb(255, 159, 49);
    padding: 20px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
    border: none;

    color: white;

    cursor: pointer;

    box-shadow: 1px 1px 20px 10px rgba(255, 166, 0, 0.219);
    transition: 0.4s ease;
}

button:hover {
    transform: scale(1.04);
}

.comment {
    height: auto;
    padding: 100px 0;
    width: 80vw;
    margin: auto;



    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 150px;
}

.comment h1 {
    z-index: 100;


    font-family: "evogria";
    font-size: 40px;
    font-weight: 100;
    color: rgb(255, 159, 49);
    text-shadow:   1px 1px 20px rgba(255, 166, 0, 0.548);

}

.comment a {
    z-index: 100;
}

.wpp {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.wpp img {
    z-index: 2;
    width: 300px;
    transition: .5s;
    z-index: 100;

    border-radius: 10px;
    box-shadow: 1px 1px 20px 10px #0b39571a;
}

.wpp img:hover {
    transform: scale(1.05);
}

.about {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 100px 0;

    background-color: black;
}

.about-img {

    display: flex;
    align-items: end;
    justify-content: end;
}

.about-img img {
    width: 200px;
    z-index: 10;
}

.about-txt {
    max-width: 600px;

    position: relative;
    /* margin: ; */
    z-index: 3;
}

.about-txt p {
    margin-top: 20px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 10px 0;
    transform-origin: left;
}

@media(max-width: 1146px) {
    form button {
        font-size: 20px;
    }
}

@media(max-width: 1074px) {
    .main-img {
        min-width: 500px;
        background-position: bottom;
    }

    .comment{
        text-align: center;
    }
    .wpp{
        flex-direction: column;
    }


}

@media (max-width: 965px) {
    form button {
        font-size: 19px;
    }

    .main-txt {
        min-width: 400px !important;
    }

    .main-img {
        overflow-x: hidden;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
    }

    .main-txt h1 {
        font-size: 35px;
    }

}

@media(max-width: 810px) {

    .main {
        height: 150vh;
        display: flex;
    }

    .main-img {
        background-position: top;
        height: 50vh;
        border-bottom: 1px solid rgba(255, 255, 255, 0.377);
    }

    .main-content {
        width: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        align-content: center;
        max-width: 100vw;
        overflow: hidden;

    }

    .main-txt {
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        margin: 0;
        margin-top: 0;

    }

    form {
        align-items: center;
    }

    .about img {
        display: none;
    }
}

@media(max-width: 615px) {
    .main-txt {
        width: 450px;
        margin-left: 0;
    }

    .main-txt h2 {
        width: 80%;
        margin-top: 20px;
        font-size: 20px;
    }

    .main-img {
        width: 400px;
    }

    .about-txt {
        width: 600px;
        max-width: 85vw;
        text-align: justify;
    }

}

@media(max-width: 450px) {
    .main-img {
        background-position: top;
        height: 40vh;
        margin-top: -50px;
    }

    .main-txt {
        width: 90vw;
        min-width: 80vw !important;
    }

    .main-txt h2 {}

    .main-txt h1 {
        font-size: 35px;
    }

    .color2 {
        font-size: 30px;
    }

    .main-txt p {
        font-size: 18px;
    }

    .main-img {
        width: 350px;
    }

    form label span {
        font-size: 10px;
        text-align: left;
    }

    button {
        font-size: 18px !important;
    }

    a>button{
        font-size: 15px !important;
    }


    .comment {
       
        padding:0;
        padding-bottom: 100px;
        width: 80vw;
        margin: auto;
        gap: 80px;
    }

    .comment h1{
        font-size: 30px;
    }

    .wpp{
        gap: 80px;
    }
    

}

@media(max-width: 395px) {
    .main-txt h1 {
        font-size: 30px;
    }

    .color2 {
        font-size: 27px;
    }

    button {
        font-size: 15px !important;
    }

    a>button{
        font-size: 12px !important;
    }
   
}


#main-wpp {
    margin: auto;
    width: 500px;
    text-align: center;
    align-items: center;
}

#main-wpp p {
    font-size: 18px;
}

#main-wpp a {
    color: white;
}