@font-face {
    font-family: "evogria";
    src: url(font/Evogria.otf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;

    width: 100vw;
    overflow-x: hidden;
}

section {
    height: 100vh;
}

.main {
    background: linear-gradient(to right, #0b3957c7, #0b3957a8),
        url('interior-design-old-architecture.jpg') no-repeat center/cover;

    position: relative;

}

.background-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00000000, #000000);
    z-index: 2;

}

.main-content {
    height: 100%;
    width: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.main-txt {
    width: 600px;
    margin-left: 5vw;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    align-content: start;
    gap: 20px;

    z-index: 100;
}

.main-txt h2 {
    font-weight: 400;
}

.main-txt h1 {
    font-family: "evogria";
    font-size: 40px;
    /* font-weight: bolder; */
    /* text-transform: uppercase; */
    font-weight: 100;

    color: rgb(255, 159, 49);
}

.color2 {
    color: white;
    font-size: 38px;
    text-transform: lowercase;
}

.color3 {
    color: rgb(235, 182, 113);

}

.main-txt p {
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-content: center;

    gap: 20px;

}

form input {
    width: 95%;
    font-size: 20px;
    padding: 5px;


    background-color: rgba(255, 255, 255, 0.616);
}

label{
    display: flex;
    gap: 5px;
}
label>input{
width: auto;
}
label>span{
    font-size: 13px;
}
    
.main-img {
    width: 500px;
    /* Largura fixa */
    height: 100vh;

    z-index: 90;

    display: flex;
    align-items: end;
    justify-content: end;

    background-image: url(_LLF8659-Photoroom.png);
    background-position: top;
    background-size: 120%;
    background-repeat: no-repeat;

    overflow-x: hidden;
}

/* .main-img img {
    width: 400px; 
    height: 100%; 
    object-fit: contain;
    object-position: auto 50%;
   
} */

button {
    background-color: rgb(255, 159, 49);
    padding: 20px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
    border: none;

    color: white;

    cursor: pointer;

    box-shadow: 1px 1px 20px 10px rgba(255, 166, 0, 0.219);
    transition: 0.4s ease;
}

button:hover {
    transform: scale(1.04);
}

.about {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: auto;
    padding: 100px 0;
}

.about-txt {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

.about-txt p {
    margin-top: 20px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 10px 0;
    transform-origin: left;
}

@media (max-width: 965px) {
    button {
        font-size: 20px;
    }

    .main-img {
        background-position: bottom;

    }
}

@media(max-width: 810px) {

    .main {
        height: 150vh;
        display: flex;
    }

    .main-img {
        background-position: top;
    }

    .main-content {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        max-width: 100vw;
        overflow: hidden;

    }

    .main-txt {
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        margin: 0;
        margin-top: 10px;

    }

    form {
        align-items: center;
    }
}

@media(max-width: 615px) {
    .main-txt {
        width: 450px;
        margin-left: 0;
    }

    .main-txt h2 {
        width: 80%;
        margin-top: 20px;
        font-size: 20px;
    }

    .main-img {
        width: 400px;
    }

    .about-txt {
        width: 600px;
        max-width: 85vw;
        text-align: justify;
    }

}

@media(max-width: 450px) {
    .main-txt {
        width: 90vw;
    }

    .main-txt h2 {}

    .main-txt h1 {
        font-size: 35px;
    }

    .color2 {
        font-size: 30px;
    }

    .main-txt p {
        font-size: 18px;
    }

    .main-img {
        width: 350px;
    }

    button {
        font-size: 15px;
    }

}

@media(max-width: 395px) {
    .main-txt h1 {
        font-size: 30px;
    }

    .color2 {
        font-size: 27px;
    }
}


#main-wpp {
    margin: auto;
    width: 500px;
    text-align: center;
    align-items: center;
}

#main-wpp p {
    font-size: 18px;
}

#main-wpp a {
    color: white;
}