@font-face {
    font-family: "evogria";
    src: url(font/Evogria.otf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;

    width: 100vw;
    overflow-x: hidden;

    background: linear-gradient(to right, #0b3957c7, #0b3957a8),
        url('interior-design-old-architecture.jpg') no-repeat center/cover;

    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

section {
    height: 100vh;
}

.main {


    width: 100vw;
    overflow-x: hidden;

    position: relative;

}

.background-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    background: linear-gradient(to bottom, #00000000, #000000);
}

.main-content {
    height: 100%;
    width: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.main-txt {
    width: 600px;
    margin-left: 5vw;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    align-content: start;
    gap: 20px;

    z-index: 100;
}

.main-txt h2 {
    font-weight: 400;
}

.main-txt h1 {
    font-family: "evogria";
    font-size: 40px;
    /* font-weight: bolder; */
    /* text-transform: uppercase; */
    font-weight: 100;

    color: rgb(255, 159, 49);
}

.color2 {
    color: white;
    font-size: 38px;
    text-transform: lowercase;
}

.color3 {
    color: rgb(235, 182, 113);

}

.main-txt p {
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-content: center;

    gap: 20px;

}

form input {
    width: 95%;
    font-size: 20px;
    padding: 5px;


    background-color: rgba(255, 255, 255, 0.616);
}

input::placeholder {
    color: black; /* Altere para a cor desejada */
    opacity: 1; /* Garante que a cor seja aplicada corretamente */
  }

label {
    display: flex;
    align-items: center;
    gap: 5px;
}

label>input {
    width: auto;
}

label>span {
    font-size: 13px;
}

.main-img {
    min-width: 600px;
    /* Largura fixa */
    height: 100vh;

    z-index: 90;

    display: flex;
    align-items: end;
    justify-content: end;

    background-image: url(images/main.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    overflow-x: hidden;
}


button {
    background-color: rgb(255, 159, 49);
    padding: 20px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
    border: none;

    color: white;

    cursor: pointer;

    box-shadow: 1px 1px 20px 10px rgba(255, 166, 0, 0.219);
    transition: 0.4s ease;
}

button:hover {
    transform: scale(1.04);
}

.gallery {
    width: 100vw;
    overflow-x: hidden;
    padding: 100px 0;
    height: auto;

    z-index: 100;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 360px;
    /* Aumento de 20% */
    margin: 0 auto;
    max-width: 720px;
    /* Aumento de 20% */
    position: relative;

}

.gallery-item {
    height: 252px;
    /* Aumento de 20% */
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 237.6px;
    /* Aumento de 20% */
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
    height: 252px;
    /* Aumento de 20% */
    opacity: 0.8;
    width: 273.6px;
    /* Aumento de 20% */
    z-index: 1;
}

.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.041);
    height: 324px;
    /* Aumento de 20% */
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 309.6px;
    /* Aumento de 20% */
    z-index: 2;
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 18px 0;
    /* Aumento de 20% */
    height: 72px;
    /* Aumento de 20% */
    z-index: 100;
}

/* Estilização dos botões */
.gallery-controls>button {
    box-shadow: none;
    background-color: #33333300;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    transition: background 0.3s ease-in-out;

    z-index: 100 !important;
}

/* Efeito ao passar o mouse */
.gallery-controls button:hover {
    background-color: #55555500;
}

/* Nav */
.gallery-nav {
    bottom: -12px;
    /* Aumento de 20% */
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li {
    background-color: #ccc;
    border-radius: 50%;
    height: 7.2px;
    /* Aumento de 20% */
    margin: 0 12px;
    /* Aumento de 20% */
    width: 7.2px;
    /* Aumento de 20% */
}

.gallery-nav li.gallery-item-selected {
    background-color: #555;
}


.about {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 100px 0;

    background-color: black;
}

.about-img {

    display: flex;
    align-items: end;
    justify-content: end;
}

.about-img img {
    width: 200px;
    z-index: 10;
}

.about-txt {
    max-width: 600px;

    position: relative;
    /* margin: ; */
    z-index: 3;
}

.about-txt p {
    margin-top: 20px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 10px 0;
    transform-origin: left;
}

@media(max-width: 1146px) {
    form button {
        font-size: 20px;
    }
}

@media(max-width: 1074px) {
    .main-img {
        min-width: 500px;
        background-position: bottom;
    }


}

@media (max-width: 965px) {
   form button {
        font-size: 19px;
    }

    .main-txt {
        min-width: 400px !important;
    }

    .main-img {
        overflow-x: hidden;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
    }

    .main-txt h1 {
        font-size: 35px;
    }

}

@media(max-width: 810px) {

    .main {
        height: 150vh;
        display: flex;
    }

    .main-img {
        background-position: top;
        height: 50vh;
        border-bottom: 1px solid rgba(255, 255, 255, 0.377);
    }

    .main-content {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: center;
        align-content: center;
        max-width: 100vw;
        overflow: hidden;

    }

    .main-txt {
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        margin: 0;
        margin-top: 0;

    }

    form {
        align-items: center;
    }

    .about img{
        display: none;
    }
}

@media(max-width: 615px) {
    .main-txt {
        width: 450px;
        margin-left: 0;
    }

    .main-txt h2 {
        width: 80%;
        margin-top: 20px;
        font-size: 20px;
    }

    .main-img {
        width: 400px;
    }

    .about-txt {
        width: 600px;
        max-width: 85vw;
        text-align: justify;
    }

}

@media(max-width: 450px) {
    .main-img {
        background-position: top;
        height: 40vh;
        margin-top: -50px;
    }
    .main-txt {
        width: 90vw;
    }

    .main-txt h2 {}

    .main-txt h1 {
        font-size: 35px;
    }

    .color2 {
        font-size: 30px;
    }

    .main-txt p {
        font-size: 18px;
    }

    .main-img {
        width: 350px;
    }

    form label span{
        font-size: 10px;
        text-align: left;
    }

    button {
        font-size: 15px;
    }

}

@media(max-width: 395px) {
    .main-txt h1 {
        font-size: 30px;
    }

    .color2 {
        font-size: 27px;
    }
}


#main-wpp {
    margin: auto;
    width: 500px;
    text-align: center;
    align-items: center;
}

#main-wpp p {
    font-size: 18px;
}

#main-wpp a {
    color: white;
}